#page-wrap 
{
    width: 1000px;
    margin: 0px auto;
    background-color:#FFFFFF;
}

table.ftsy_teams_table
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

table.ftsy_teams_table td, table.ftsy_teams_table th
{
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

table.ftsy_teams_table th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}

.fake-link 
{
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
}

.scrollable_tbody
{ 
    display:block;
    height:300px;
    overflow-y:scroll;
}


body
{
    background-color:#8A94A2;
    font-family: "Avantgarde", sans-serif;
}