<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Fantasy Football Draft</title>
        <meta name="description" content="Interactive Draft Board">
        <%= javascript_include_tag 'application' %> 
        <%= stylesheet_link_tag 'application' %>
     
    </head>
    <body onload="initializePlayers();">

<%= yield %>

   


</body>
</html>
